include /subtitle/subtitle.pug
include /title-accent/title-accent.pug
include /paragraph/paragraph.pug
include /spacer/spacer.pug
include /credit-badge/credit-badge.pug

mixin section-place()

  - const className = 'section-place'

  mj-section(css-class=className)

    mj-column(width='100%')

      +spacer({cssClass: className + '__spacer'})

      +subtitle('Place and Time')

      +spacer({cssClass: className + '__spacer-title'})

    mj-column(
      css-class=className + '__column ' + className + '__column-image' + ' credit-badge-wrapper'
      width='50%')

      mj-image(src=`${imagePath}address_place.jpg`)

      +credit-badge('Sylwia Bartyzel', 'D2K1UZr4vxk')(padding-bottom='70.9375%')

      +spacer({cssClass: className + '__spacer-m'})

      mj-image(src=`${imagePath}address_time.jpg`)

      +credit-badge('Ian Keefe', 'OgcJIKRnRC8')

    mj-column(
      css-class=className + '__column ' + className + '__column-info'
      width='50%')

      +title-accent('Place')
      +paragraph('333 Broome St New York, NY 10002, USA')

      +spacer({cssClass: className + '__spacer-m'})

      +title-accent('Time')
      +paragraph('Dec 25th 2019 at 6.30pm to 12.00am')

      +spacer({cssClass: className + '__spacer-m'})

      +paragraph('Lorem Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus')

    mj-column(width='100%')

      +spacer({cssClass: className + '__spacer'})