mj-head

  mj-title Yule
  mj-preview Hello Yule!

  mj-font(
    name='Tinos'
    href='https://fonts.googleapis.com/css?family=Tinos:400,700')

  mj-attributes

    mj-all(
      font-family='Tinos, serif'
      padding='0'
      inner-padding='0')

  mj-style(inline='inline')
    include ../../../tmp/styles/main.css

  mj-style
    include ../../../tmp/styles/main_mq.css