include /title-accent/title-accent.pug
include /paragraph/paragraph.pug

mixin preview(data)

  - const className = 'preview'

  mj-section(css-class=className)&attributes(attributes)

    mj-column(width='100%' css-class=className + '__image credit-badge-wrapper')

      mj-image(src=`${imagePath}${data.img}`)

      block

    mj-column(width='100%' css-class=className + '__info')

      +title-accent(data.title)(padding-bottom='25px')

      +paragraph(data.desc)

    if data.spacer
      mj-column(width='100%')
        mj-spacer(height='24px')
