include /credit-badge/credit-badge.pug
include /social/social.pug
include /spacer/spacer.pug

mixin footer()

  - const className = 'footer'

  mj-section(
    css-class=className + ' credit-badge-wrapper'
    background-color='black'
    background-url=`${imagePath}bg_footer.jpg`)

    mj-column(width='100%')
      +spacer({cssClass: className + '__spacer-top'})

    mj-column(width='100%')

      +social(['facebook', 'twitter', 'pinterest', 'dribbble'])

      +spacer({cssClass: className + '__spacer'})

    mj-column(width='100%')

      mj-text(css-class=className + '__text')
        p You are receiving this email because you subscribed to our mailing list.

    mj-column(width='100%')

      mj-text(css-class=className + '__text')
        p
          a(href='#0') Click here 
          | to 
          a(href='#0') unsubscribe 
          | your email address from this list.

      +spacer({cssClass: className + '__spacer'})

    mj-column(width='100%')

      mj-text(css-class=className + '__text')
        p
          | © 2019 Yule. All rights reserved. Design by 
          a(href='https://w3layouts.com/yule-newsletter-responsive-email-template/') W3layouts

    mj-column(width='100%')
      +credit-badge('Tim Mossholder', 'MHBKAX68FWk')